[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/bin/bash -lc 'export DATABASE_URL=${host_db} && puma'
Restart=always

[Install]
WantedBy=multi-user.target
