{
  "type": "service_account",
  "project_id": "infra-666",
  "private_key_id": "ffc6d96bab2260e961ccc1b0036ef72e393f090a",
  "private_key": "-----BEGIN PRIVATE KEY-----\n\n-----END PRIVATE KEY-----\n",
  "client_email": "tra-ta-ta@developer.gserviceaccount.com",
  "client_id": "116305187826964601597",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://accounts.google.com/o/oauth2/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/197211143364-compute%40developer.gserviceaccount.com"
}
